@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f8f9fa;
  --text-color: #212529;
}

.dark :root {
  --bg-color: #333;
  --text-color: #eee;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* Ajout de styles pour la barre de navigation */
.v-application {
  background-color: var(--color-background);
}

/* Styles pour les boutons dans la barre de navigation */
.v-btn {
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

/* Couleur du bouton au survol */
.v-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Change la couleur selon tes préférences */
}

/* Alignement de l'image logo */
.logo {
  height: 50px; /* Ajuste la taille selon tes besoins */
  cursor: pointer; /* Indique que l'image est cliquable */
}
